## Java

*.class
*.war
*.ear
hs_err_pid*

## Robovm
/ios/robovm-build/

## GWT
/html/war/
/html/gwt-unitCache/
.apt_generated/
.gwt/
gwt-unitCache/
www-test/
.gwt-tmp/

## Android Studio and Intellij and Android in general
/android-frontend/libs/armeabi/
/android-frontend/libs/armeabi-v7a/
/android-frontend/libs/arm64-v8a/
/android-frontend/libs/x86/
/android-frontend/libs/x86_64/
/android-frontend/gen/
.idea/
*.ipr
*.iws
*.iml
/android-frontend/out/
com_crashlytics_export_strings.xml

## Eclipse

.classpath
.project
.metadata/
/android-frontend/bin/
/emulator/bin/
/desktop-frontend/bin/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans

/nbproject/private/
/android-frontend/nbproject/private/
/emulator/nbproject/private/
/desktop-frontend/nbproject/private/

/build/
/android-frontend/build/
/emulator/build/
/desktop-frontend/build/

/nbbuild/
/android-frontend/nbbuild/
/emulator/nbbuild/
/desktop-frontend/nbbuild/

/dist/
/android-frontend/dist/
/emulator/dist/
/desktop-frontend/dist/

/nbdist/
/android-frontend/nbdist/
/emulator/nbdist/
/desktop-frontend/nbdist/

nbactions.xml
nb-configuration.xml

## Gradle

/local.properties
.gradle/
gradle-app.setting
/build/
/android-frontend/build/
/emulator/build/
/desktop-frontend/build/

## OS Specific
.DS_Store
Thumbs.db

## iOS
/ios/xcode/*.xcodeproj/*
!/ios/xcode/*.xcodeproj/xcshareddata
!/ios/xcode/*.xcodeproj/project.pbxproj
/ios/xcode/native/
/ios/IOSLauncher.app
/ios/IOSLauncher.app.dSYM

/ios-moe/xcode/*.xcodeproj/*
!/ios-moe/xcode/*.xcodeproj/xcshareddata
!/ios-moe/xcode/*.xcodeproj/project.pbxproj
/ios-moe/xcode/native/

local.properties
gradle/
emulator-test/build
